:root {
  --background-color: #d4aba5;
  --list-background-color: white;
  --primary-color: #2c1c33;
  --secondary-color: #ec8752;
}

/* $primary: #0184ce;
$secondary: #121619;
$info: #8baabb;
$success: #075a00;
$warning: #ff5800;
$danger: #7a1113;
$light: #8b8b8b;
$dark: #181e22;
$body-bg: #1c2227;
$body-color: #ffffff;
$gray: #b8b8b8;
$dark-gray: #999999;
$pink: #ff179a;
$active-color: #ff7600;
$purple: #b000b3;
$yellow: #d9d100;
$shadow-color: #0000004d; */

/* $loading-fullscreen-spinner-size: 50px;
$loading-spinner-size: 42px;

$headerHeight: 73px;
$navWidth: 80px;
$historyPanelWidth: 450px;
$tasksPanelWidth: 500px;
$date-input-greyed-dates: rgba(112, 112, 112, 1);

$font-primary: Open Sans, Arial, sans-serif;
$font-base-size: 16px;

$sidePanelMargin: 105px;
$bottomPanelMargin: 30px; */
